.sidebar .file-upload {
    margin-top: 20px;
  }
  
  .sidebar .file-upload h4 {
    margin-bottom: 10px;
  }
  
  .sidebar .file-upload input {
    margin-bottom: 10px;
  }
  
  .sidebar .file-upload button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar .file-upload button:hover {
    background-color: #0056b3;
  }
  
  /* Sidebar.css */
.home-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  